In [6]:
import mysql.connector   #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "hotel"
    )
db = database.cursor()

In [7]:
db.execute("SELECT * from bill")
result = db.fetchall()
print(result)

[(1, 'buff sekuwa', 400, 2, 800)]

In [9]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter food item = ")
    price = int(input("Enter the price of food item = "))
    quantity = int(input("Enter the quantity = "))
    total = price * quantity
    sql = f"INSERT INTO bill(food_items, price, quantity, total) VALUES ('{name}', '{price}', '{quantity}', '{total}')"

    db.execute(sql)
database.commit()

Enter n = 4
Enter food item = sausage
Enter the price of food item = 50
Enter the quantity = 6
Enter food item = drumstick
Enter the price of food item = 180
Enter the quantity = 4
Enter food item = momo
Enter the price of food item = 200
Enter the quantity = 2
Enter food item = pizza
Enter the price of food item = 800
Enter the quantity = 1

In [10]:
print(sql)

INSERT INTO bill(food_items, price, quantity, total) VALUES ('pizza', '800', '1', '800')

In [11]:
import mysql.connector   #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "student"
    )
db = database.cursor()

In [16]:
n = int(input("Enter n= "))
for i in range(n):
    name = input("Enter the name of the student = ")
    s = f"INSERT INTO list(name) VALUES ('{name}')"
    db.execute(s)
database.commit()

Enter n= 2
Enter the name of the student = raju
Enter the name of the student = shyam